@tailwind base;

@layer base {
  *, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    @apply text-black;
  }

  html.dark {
    @apply text-neutral-50;
    @apply bg-neutral-800;
  }
}

@tailwind components;
@tailwind utilities;


@layer components {

  h1 {
    font-size: 30px;
    font-weight: 600;
    line-height: 1.1;
  }

  h2 {
    font-size: 24px;
    font-weight: 500;
  }

  .my-shadow {
    box-shadow: 0 2px 20px rgb(0 0 0 / 25%);
  }

  #app {
    @apply m-auto bg-white select-none w-[100vw] max-w-[1024px] h-[100vh] overflow-hidden my-shadow relative;
  }

  .app-input {
    @apply relative m-0 block w-full min-w-0 flex-auto border border-solid border-neutral-300 bg-transparent bg-clip-padding p-4 text-base font-normal leading-[1.6] text-neutral-700 outline-none transition duration-200 ease-in-out focus:z-[3] focus:border-primary focus:text-neutral-700 focus:shadow-[inset_0_0_0_1px_rgb(59,113,202)] focus:outline-none dark:border-neutral-600 dark:text-neutral-200 dark:placeholder:text-neutral-200 dark:focus:border-primary pe-10;
    height: 50px;
    background: #f6f6f6;
    border-radius: 100px;
  }

  .app-input::placeholder, .placeholder {
    color: #bdbdbd;
  }

  .search-icon {
    @apply flex items-center whitespace-nowrap rounded px-3 py-1.5 text-center text-base font-normal text-neutral-700 dark:text-neutral-200 absolute top-0 right-0 h-[50px] z-10 cursor-pointer;
  }


  .button {
    @apply inline-block bg-primary text-xs font-medium capitalize leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)];
    @apply disabled:pointer-events-none disabled:bg-primary-500;
    font-size: 16px;
  }

  .li-list-item {
    @apply w-full relative py-4 flex flex-nowrap;

    &:not(:last-child)::after {
      content: '';
      @apply w-full absolute border-b-2 border-neutral-100 border-opacity-100 dark:border-opacity-50 bottom-[1px] left-0;
    }
  }


  .slide-in-form {

    @apply absolute bottom-0 bg-white rounded-t-[16px] z-10 overflow-hidden my-shadow border-[1px] border-solid border-neutral-300;
    @apply flex flex-col items-center;

    left: 4px;
    right: 4px;
    height: 0;
    transition-duration: .65s;
    transition-property: height;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);

    .slide-out-btn {
      user-select: none;
      @apply flex flex-col items-center justify-center w-full;
      @apply cursor-pointer min-h-[64px];
      &::before {
        content: '';
        width: 32px;
        height: 4px;
        background: #e8e8e8;
        border-radius: 100px;

      }
    }

    &[data-visible="true"] {
      height: 75vh;
      overflow-y: scroll;

    }


    .slide-in-form-inner {
      @apply flex flex-col w-full h-full items-center;
    }


    [id*="datepicker-toggle-"] {
      @apply z-10 ;
    }

    .file-input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;

      & ~ label {
        cursor: pointer;
      }

      &:focus ~ label {
        @apply focus:z-[3] border-primary text-neutral-700 shadow-[inset_0_0_0_1px_rgb(59,113,202)] outline-none;
        * {
          pointer-events: none;
        }
      }
    }
  }

}

